* {
    box-sizing: border-box;
}

body {
    margin: 0
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

button:hover{
cursor: pointer;
}

.main-btn{
    display: none;
}

.editor-container {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    background-color: #ff7f00;
    padding: 2.5rem;
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.125rem;
}

.btn {
    height: 2.5rem;
}

.gallery {
    display: grid;
    grid-template-rows: repeat(18, 32.2vh);
    grid-template-columns: 90vw;
    grid-gap: 0.5rem;
}

img {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    border: solid 5px black;
    padding-top: 0.5rem;
}

.buttons-container {
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
}

.text-input {
    margin-left: 4.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.buttons-container button {
    margin: 0.625rem;
    font-size: 1.25rem;
}

.meme-lib {
    display: none;
    grid-gap: 0.5rem;
}

.lib-img {
    height: 100%;
    width: 100%;
}

.meme-lib{
	justify-content: center;
}

@media screen and (min-width: 780px) {
    .navbar-container {
        background-color: #ff7f00;
        padding: 2.5rem;
        margin-bottom: 1.875rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


    .meme-lib {
        display: none;
        grid-template-columns: repeat(3, 32.2vw);
        grid-gap: 0.5rem;
    }

    .gallery {
        display: grid;
        grid-template-rows: repeat(18, 32.2vh);
        grid-template-columns: repeat(3, 32.2vw);
        grid-gap: 0.5rem;
    }

    .editor-container {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .buttons-container {
        margin: 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-input {
        margin-bottom: 1.875rem;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.875rem;;
        font-weight: bold;
    }

    button {
        margin: 1.875rem;;
    }
}



@media screen and (min-width: 1024px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #ff7f00;
        padding: 2.5rem;
        margin-bottom: 1.875rem;
    }

    .meme-lib {
        display: none;
        grid-template-columns: repeat(3, 32.2vw);
        grid-gap: 0.5rem;
    }


    .gallery {
        display: grid;
        grid-template-rows: repeat(3, 16vw);
        grid-template-columns: repeat(6, 16vw);
        grid-gap: 0.5rem;
    }

    .editor-container {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .buttons-container {
        margin: 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-input {
        margin-bottom: 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5625rem;
        font-weight: bold;
    }

    button {
        margin: 0.625rem;
    }

}