* {
    box-sizing: border-box;
}

body {
    margin: 0
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.editor-container {
    display: none;
	flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #ff7f00;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 40px;
    font-size: 50px;
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-rows: repeat(18, 32.2vh);
    grid-template-columns: 90vw;
    grid-gap: 0.5rem;
}

img {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    border: solid 5px black;
    padding-top: 0.5rem;
}

.buttons-container {
    margin: 30px;
    display: flex;
    align-items: center;
}

.text-input {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

button {
    margin: 10px;
    font-size: 25px;

}

@media screen and (min-width: 780px) {
    .navbar {
        background-color: #ff7f00;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 40px;
        font-size: 50px;
        margin-bottom: 30px;
    }

    .gallery {
        display: grid;
        grid-template-rows: repeat(18, 32.2vh);
        grid-template-columns: repeat(3, 32.2vw);
        grid-gap: 0.5rem;
    }

    img {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        border: solid 5px black;
        padding-top: 0.5rem;
    }

    .editor-container {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .buttons-container {
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-input {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }

    button {
        margin: 10px;
    }

}



@media screen and (min-width: 1024px) {
    .navbar {
        background-color: #ff7f00;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 40px;
        font-size: 50px;
        margin-bottom: 30px;
    }

    .gallery {
        display: grid;
        grid-template-rows: repeat(3, 16vw);
        grid-template-columns: repeat(6, 16vw);
        grid-gap: 0.5rem;
    }

    img {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        border: solid 5px black;
        padding-top: 0.5rem;
    }

    .editor-container {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .buttons-container {
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-input {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }

    button {
        margin: 10px;
    }

}

